@import 'reset';

@mixin transition {
    transition: all .3s;
}

@mixin clearfix{
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

body{
    background: #e2e2e2;
    font-size: 100%;
}

.main-wrapper{
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    padding: 80px 2%;
}

.tarifs{
    width: 100%;

    &:after{
        @include clearfix;
    }

    &__item{
        position: relative;
        display: block;
        float: left;
        width: 24%;
        margin: 0 0.5% 1% 0.5%;
        height: 440px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        @include transition;
        &-name{
            text-align: center;
            font-weight: 300;
            height: 85px;
            line-height: 85px;
            color: #3e4f6a;
            font-size: 34px;
            border-radius: 5px 5px 0 0;
            @include transition;
        }
        &-price{
            height: 44px;
            line-height: 44px;
            font-weight: bold;
            background: #41536e;
            background-image: linear-gradient(to top, #364761 0%, #475975 100%);
            font-size: 16px;
            margin-bottom: 45px;
            text-align: center;
            &-value{
                color: #fff;
            }
            &-period{
                color: #8394ae;
            }
        }
    }
    &__item:hover{
        transform: scale(1.05);
        z-index: 1;
        .tarifs__item-name{
            color: #fff;
            background: #3e4f6a;
            background-image: linear-gradient(to top, #364761 0%, #475975 100%);
        }
        .tarifs__item-price{
            background: #f7814d;
            background-image: none;
            &-value,
            &-period{
                color: #fff;
            }
        }
    }
}

.list{
    width: 100%;
    text-align: center;
    &__item{
        list-style: none;
        font-size: 16px;
        margin-bottom: 25px;
        &-value{
            font-weight: bold;
            color: #364761;
            padding-right: 5px;
        }
        &-option{
            color: #979797;
        }
    }
}

.button{
    position: relative;
    display: block;
    width: 85%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #40526d;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #3e4f6a;
    text-decoration: none;
    @include transition;
}

.button:hover{
    background: #f7814d;
    border: 2px solid #f7814d;
    color: #fff;
}

@media (max-width: 1024px) {
    .tarifs__item{
        width: 49%;
    }
}

@media (max-width: 480px){
    .tarifs__item{
        width: 99%;
        margin-bottom: 2%;
        &:hover{
            transform: none;
        }
    }
}
