doctype html
html
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,800,700,800italic&subset=latin,cyrillic"
    link rel="stylesheet" href="../build/style.css"
    title Idfly Test #1
  
  body
    .main-wrapper
      .tarifs
        .tarifs__item
          .tarifs__item-name Plan 1
          .tarifs__item-price
            span.tarifs__item-price-value $10/
            span.tarifs__item-price-period month
          ul.list
            li.list__item
              span.list__item-value 2x
              span.list__item-option option 1
            li.list__item
              span.list__item-value Free
              span.list__item-option option 2          
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 3
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 4
            li.list__item
              span.list__item-value 1x
              span.list__item-option option 5
          a.button href="" Purchace
          
        .tarifs__item
          .tarifs__item-name Plan 2
          .tarifs__item-price
            span.tarifs__item-price-value $10/
            span.tarifs__item-price-period month
          ul.list
            li.list__item
              span.list__item-value 2x
              span.list__item-option option 1
            li.list__item
              span.list__item-value Free
              span.list__item-option option 2          
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 3
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 4
            li.list__item
              span.list__item-value 1x
              span.list__item-option option 5
          a.button href="" Purchace
            
        .tarifs__item
          .tarifs__item-name Plan 3
          .tarifs__item-price
            span.tarifs__item-price-value $30/
            span.tarifs__item-price-period month
          ul.list
            li.list__item
              span.list__item-value 2x
              span.list__item-option option 1
            li.list__item
              span.list__item-value Free
              span.list__item-option option 2          
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 3
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 4
            li.list__item
              span.list__item-value 1x
              span.list__item-option option 5
          a.button href="" Purchace
              
        .tarifs__item
          .tarifs__item-name Plan 4
          .tarifs__item-price
            span.tarifs__item-price-value $40/
            span.tarifs__item-price-period month
          ul.list
            li.list__item
              span.list__item-value 2x
              span.list__item-option option 1
            li.list__item
              span.list__item-value Free
              span.list__item-option option 2          
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 3
            li.list__item
              span.list__item-value Unlimited
              span.list__item-option option 4
            li.list__item
              span.list__item-value 1x
              span.list__item-option option 5
          a.button href="" Purchace
          
    script src="js/respond.min.js"
